################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
*.cache
/SWCLMS/.vs/SWCLMS/v16/Server/sqlite3/db.lock
/SWCLMS/.vs/SWCLMS/v16/Server/sqlite3
*.CopyComplete
