<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost\sql2014;Database=SWC_LMS;User Id=sa;Password=sqlserver;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>    
    <!--Mode can be SQL or Mock-->
    <add key="Mode" value="SQL"/>
  </appSettings>
</configuration>